* {
  box-sizing: border-box;
}
a {
  text-decoration: none;
}
body{
  margin: 0;
}
.container {
  width: 100%;
}
header {
width: 100%;
height: 65px;
background-color: rgba(0, 0, 0, 0.8);
}
.header-left {
  float: left;
  margin-left: 20px;
}
.header-left p {
  color: aliceblue;
  line-height: 65px;
  margin: 0;
}
.header-right {
  float: right;
  margin-right: 20px;
}
.header-right a {
  color: aliceblue;
  display: block;
  line-height: 65px;
}
